@import "../variables";
.icon-container {
  background-color: $colorDarkGrey;
  border-radius: 50%;
  width: $FontSizeParagraph * 3;
  height: $FontSizeParagraph * 3;
  margin: $modalHeight * 0.05 $modalWidth * 0.05;
  display: flex;
  justify-content: center;
  align-items: center;
}
div img {
  width: fit-content;
}
h1 {
  font-weight: $fontWeightsBold;
  color: $colorWhite;
  margin: 0 $modalWidth * 0.05;
}
p {
  font-weight: $fontWeightsLight;
  color: $colorLightGrey;
  font-size: $FontSizeParagraph;
  margin: $modalHeight * 0.05 $modalWidth * 0.05;
}
p + div {
  display: flex;
  flex-flow: row wrap;
  gap: $FontSizeParagraph * 1.5;
  margin: $FontSizeParagraph * 1.5 auto;
}
app-rating-point {
  color: $colorLightGrey;
  background-color: $colorDarkGrey;
  border-radius: 50%;
  font-size: $FontSizeParagraph;
  height: $FontSizeParagraph * 3;
  width: $FontSizeParagraph * 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected,
.selected:hover {
  background-color: $colorLightGrey;
  color: $colorWhite;
}
app-rating-point:hover {
  background-color: $colorOrange;
  color: $colorWhite;
  cursor: pointer;
}
button {
  background-color: $colorOrange;
  color: $colorWhite;
  font-weight: $fontWeightsLight;
  font-variant: small-caps;
  font-size: $FontSizeParagraph;
  height: $FontSizeParagraph * 2.5;
  width: $modalWidth * 0.75;
  border-radius: $FontSizeParagraph * 1.5;
  align-self: center;
}
button:hover {
  background-color: $colorWhite;
  color: $colorOrange;
  cursor: pointer;
}
.disabled,
.disabled:hover {
  background-color: $colorLightGrey;
  color: $colorWhite;
  cursor: default;
}
