@import "./variables";
* {
  font-family: $fontFamily;
}
:host {
  display: flex;
  flex-flow: column nowrap;
}
.modal {
  display: flex;
  flex-flow: column nowrap;
  background-color: $colorDarkBlue;
  width: $modalWidth;
  height: $modalHeight;
  border-radius: $FontSizeParagraph * 2;
}

app-rate-me-modal {
  @extend .modal;
}
app-thank-you-modal {
  @extend .modal;
  align-items: center;
}
